[core]
	excludesfile = ~/.gitignore
  editor = mvim
  whitespace = trailing-space,space-before-tab

[apply]
  whitespace = fix

[color]
	ui = auto

  interactive = true
  status = true
  branch = true
  diff = true
[alias]
  undo = reset --soft HEAD^
  s = status
  ci = commit
  co = checkout
  br = branch
  ls = branch
  a  = add
  b  = branch
  d  = diff
  dc = diff --cached
  v  = show
  l  = log --pretty=oneline
  ll = log
  cp = cherry-pick
  c  = checkout
  cc = commit
  ri = rebase -i HEAD~10
  sh = !git-sh
  ro = !git fetch origin && git reset --hard origin/master
  tags = log --tags --date-order --simplify-by-decoration --pretty='format:%ai %d'
  kw = !git status --porcelain --ignore-submodules | awk '$1 != "D" { print $2}' | xargs $EDITOR
  top = !git log --format=format:%an | sort | uniq -c | sort -r
  df = diff --cached --color --color-words
  dff = diff --color --color-words
  current-branch = rev-parse --abbrev-ref HEAD
  graph = log --graph --decorate --oneline --branches
  prom = pull --rebase origin master

[user]
  email = roberto.tech@gmail.com
  name = Roberto Soares

[github]
  user  = roberto

[merge]
  tool  = vimdiff
[push]
	default = current
[push]
	default = current
